
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;

  .ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  }
  .ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
  }
  .ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  .ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  .ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  .st0 {
    fill: #8c1c1c;
  }
  .st1 {
    fill: black; 
  }

  .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }

  .cls-2 {
    fill: #8c1c1c;
  }
  .carboninput {
    background-color: #F4F4F4;
    height: 60px;
    width: 90%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    padding: 20px;
    border-bottom: 1px solid black;
  }
  .carbonlabel {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 28px;
  }
  .carbontextbox {
    height: 272px;
  }
  .carbonbutton {
    background-color: #1E40AF;
    color: white;
    width: 240px;
    height: 120px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    margin-top: 28px;
    margin-right: 22px;
  }
  .carbonreset {
    background-color: #999999 !important;
    width: 200px !important;
  }

}

@media (min-width: 768px) {
  body {
    .carbonlabel {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      margin-bottom: 8px;
      margin-top: 20px;
    }
    .carboninput {
    background-color: #F4F4F4;
    height: 56px;
    width: 88%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    padding: 16px;
    border-bottom: 1px solid black;
    }
    .carbontextbox {
      height: 260px;
    }
    .carbonbutton {
    background-color: #1E40AF;
    color: white;
    width: 200px;
    height: 104px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    margin-top: 22px;
    margin-right: 16px;
  }
  .carbonreset {
    background-color: #999999 !important;
    width: 160px !important;
  }
  }
}
@media (max-width: 640px) {
  body {
    .carbonlabel {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      margin-bottom: 8px;
      margin-top: 20px;
    }
    .carboninput {
    background-color: #F4F4F4;
    height: 56px;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    padding: 16px;
    border-bottom: 1px solid black;
    }
    .carbontextbox {
      height: 260px;
    }
    .carbonbutton {
    background-color: #1E40AF;
    color: white;
    width: 140px;
    height: 86px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    margin-top: 22px;
    margin-right: 16px;
  }
  .carbonreset {
    background-color: #999999 !important;
    width: 100px !important;
  }
  }
}

@media screen {
  @media (prefers-color-scheme: dark) { 
      [data-darkreader-mode="dynamic"] .st1 {
          fill: white;
        }

      [data-darkreader-mode="dynamic"] .cls-3 {
          fill: white;
        }

      [data-darkreader-mode="dynamic"] .cls-1 {
          stroke: white;
        }
      }
}